@import "projects/ui-kit/src/lib/_colors.scss";

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "left right";
  background-image: url("../../assets/landing-page/landing_page_bg2.svg");
}

.left {
  grid-area: left;
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-items: center;
}

.right {
  grid-area: right;
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-items: center;
}

button[mat-flat-button] {
  width: 35%;
  color: white;
  background-image: $btn-landing-page-gradient;
  font-size: 36px;
  font-weight: lighter;
}
